#body {
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.quote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: large;
  color: floralwhite;
  border: black;
  border-style: solid;
  background-color: rgb(44, 46, 52);
  opacity: 75%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25%;
  width: 70%;
  text-align: center;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 14.78%;
  margin-right: 14.75%;
  margin-top: 1%;
}

button {
  color: floralwhite;
  background-color: rgb(44, 46, 52);
  height: 2rem;
  width: 6rem;
}

button:hover {
  background-color: darkcyan;
}

.hidden {
  margin-top: 1%;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  border-style: solid;
  margin-left: 14.78%;
  margin-right: 14.75%;
  background-color: rgb(44, 46, 52);
  opacity: 75%;
  color: floralwhite;
  border-color: black;
}

.quotesDisplay {
  color: floralwhite;
}